*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/tarkovapi/schemas/com.austinhodak.tarkovapi.room.TarkovDatabase/18.json
/tarkovapi/schemas/com.austinhodak.tarkovapi.room.TarkovDatabase/19.json
/app/.localazy
