<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TheHideout.Launcher">
        <activity
            android:name=".features.profile.UserProfileActivity"
            android:exported="true" />
        <activity
            android:name=".features.premium.PremiumThanksActivity"
            android:exported="true" />
        <activity
            android:name=".features.map.CustomMapMarkerAddActivity"
            android:exported="false" />
        <activity
            android:name=".features.map.CustomMapMarkerActivity"
            android:exported="false" />
        <activity
            android:name=".features.barters.BarterDetailActivity"
            android:exported="false" />
        <activity
            android:name=".features.crafts.CraftDetailActivity"
            android:exported="false" />
        <activity
            android:name=".features.map.StaticMapsActivity"
            android:exported="true" />
        <activity
            android:name=".features.ocr.ItemScannerActivity"
            android:exported="true" />
        <activity
            android:name=".features.hideout.detail.HideoutStationDetailActivity"
            android:exported="true" />
        <activity
            android:name=".features.status.ServerStatusActivity"
            android:exported="true" />

        <receiver
            android:name=".widgets.SinglePriceWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/single_price_widget_info" />
        </receiver>

        <activity
            android:name=".features.pickers.PickerActivity"
            android:exported="true"
            android:theme="@style/Theme.TheHideout.Launcher.NoActionBar" />
        <activity
            android:name=".widgets.WidgetPickerActivity"
            android:exported="true"
            android:theme="@style/Theme.TheHideout.Launcher.NoActionBar">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".features.premium.PremiumPusherActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.Dark.NoActionBar" />
        <activity
            android:name=".features.weapons.builder.WeaponBuilderActivity"
            android:exported="true"
            android:theme="@style/Theme.TheHideout.Launcher.NoActionBar" />
        <activity
            android:name=".features.gear.GearDetailActivity"
            android:exported="true" />
        <activity
            android:name=".settings.SettingsActivity"
            android:theme="@style/Theme.TheHideout.Settings"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAoGF3VmwlS_KJtYUq0fCuwuf2w1HCgElU" />

        <activity
            android:name=".features.map.MapsActivity"
            android:exported="true" />
        <activity
            android:name=".features.weapons.mods.ModDetailActivity"
            android:exported="true"
            android:theme="@style/Theme.TheHideout.Launcher.NoActionBar" />
        <activity
            android:name=".NavActivity"
            android:exported="true"
            android:label="@string/title_activity_nav"
            android:theme="@style/Theme.TheHideout.Launcher.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="thehideout.io/invite"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".features.ammunition.AmmoDetailActivity"
            android:exported="true"
            android:theme="@style/Theme.TheHideout.Launcher.NoActionBar" />
        <activity
            android:name=".features.flea_market.detail.FleaItemDetail"
            android:exported="true"
            android:theme="@style/Theme.TheHideout.Launcher.NoActionBar" />
        <activity
            android:name=".features.quests.QuestDetailActivity"
            android:exported="true"
            android:theme="@style/Theme.TheHideout.Launcher.NoActionBar" />
        <activity
            android:name=".features.calculator.CalculatorMainActivity"
            android:exported="true"
            android:theme="@style/Theme.TheHideout.Launcher.NoActionBar" />
        <activity
            android:name=".features.weapons.detail.WeaponDetailActivity"
            android:exported="true"
            android:theme="@style/Theme.TheHideout.Launcher.NoActionBar" />
        <activity
            android:name=".features.weapons.mods.ModPickerActivity"
            android:theme="@style/Theme.TheHideout.Launcher.NoActionBar" />
        <activity
            android:name=".features.login.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.TheHideout.Launcher.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/hideout_shadow_1" />
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr" />

        <service
            android:name=".firebase.MessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".features.quests.inraid.QuestInRaidActivity"
            android:exported="true"
            android:theme="@style/Theme.TheHideout.Launcher.NoActionBar" />
        <activity
            android:name=".features.team.TeamManagementActivity"
            android:exported="true" />
        <activity
            android:name=".features.skills.SkillDetailActivity"
            android:exported="true" />
        <activity android:name=".features.medical.MedDetailActivity"
            android:exported="true" />
        <activity android:name=".features.map.MapDetailActivity"
            android:exported="true" />
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">

            <!-- If you are using androidx.startup to initialize other components -->
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>

        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
            android:theme="@style/Theme.TheHideoutOS" />
        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesActivity"
            android:theme="@style/Theme.TheHideoutOS" />

        <meta-data android:name="io.sentry.dsn" android:value="https://40cb2a7b02fb47cdb3cb1350e3c54909@o4504563082133504.ingest.sentry.io/4504563084099584" />
        <meta-data android:name="io.sentry.breadcrumbs.user-interaction" android:value="true" />
        <meta-data android:name="io.sentry.attach-screenshot" android:value="true" />

    </application>

</manifest>